{% resource 'fiware_header/style.css' %} 

<footer class="footer-main">
    <div class="container-fluid wrap">
        <div class="footer-content">
            <div class="cred">
                2017 &copy; <a href="http://www.fiware.org/">FIWARE</a>.

                The use of FIWARE Lab services is subject to the acceptance of the
                <a href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_LAB_Terms_and_Conditions">Terms and Conditions</a>,

                <a href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_Privacy_Policy">Privacy Policy</a>
                and 
                <a href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE">Cookies Policy</a>.
            </div>
        </div>
    </div>
</footer>
