{% ckan_extends %}

{% block header_account %}
    
    {% resource 'fiware_header/style.css' %} 
    {% resource 'fiware_header/font-awesome.css' %} 
    {% resource 'fiware_header/loadSignOut.js' %}
    {% resource 'fiware_header/cookies_policy.js' %}
    {% resource 'fiware_header/cookies_banner.css' %}

    <header class="navbar">
      <div class="container-fluid">
        <nav class="navbar-inner">

          <div class="logo-header">
            <a href="#" class="brand">
              <img alt="FIWARE" class="fiware-logo" src="/img/FIWARE-lab-2x.png">
            </a>
          </div>

          <div class="dropdown mobile">
            <a href="#" class='dropdown-toggle' data-toggle="dropdown">
              <span class="caret"></span> 
            </a>

            <ul class="dropdown-menu dropdown-menu-header">
              <li class="cloud">
                <a href="http://cloud.lab.fiware.org/">
                  Cloud
                </a>
              </li>

              <li class="store">
                <a href="http://store.lab.fiware.org/">
                  Store
                </a>
              </li>
              <li class="mashup">
                <a href="http://mashup.lab.fiware.org/">
                  Mashup
                </a>
              </li>
              <li class="data">
                <a href="https://data.lab.fiware.org/">
                  Data
                </a>
              </li>
              <li class="account">
                <a href="https://account.lab.fiware.org/">
                  Account
                </a>
              </li>
              <li class="help">
                <a href="http://help.lab.fiware.org/">
                  Help&info
                </a>
              </li>
            </ul>
          </div>


          <ul class="oil-portal hidden-phone">
            <li class="cloud">
              <a href="http://cloud.lab.fiware.org/">
                Cloud
              </a>
            </li>
            <li class="store">
              <a href="http://store.lab.fiware.org/">
                Store
              </a>
            </li>
            <li class="mashup">
              <a href="http://mashup.lab.fiware.org/">
                Mashup
              </a>
            </li>
            <li class="data active">
              <a href="https://data.lab.fiware.org/">
                Data
              </a>
            </li>
            <li class="account">
              <a href="https://account.lab.fiware.org/">
                Account
              </a>
            </li>
            <li class="help">
              <a href="http://help.lab.fiware.org/">
                Help&info
              </a>
            </li>
          </ul>

          <ul class="nav pull-right right-aligned">
              {% if c.userobj %}
                <li class="username">
                  <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" title="{{ _('View profile') }}">                
                    {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=20) }}
                    <span class="username">
                      {{ c.userobj.display_name }}
                    </span>
                  </a>
                </li>

                <li class="dropdown">

                  <a href="#" class='extended-settings' data-toggle="dropdown">
                    <i class="fa fa-angle-double-down"></i>
                  </a>

                  <ul class="dropdown-menu"  id="settings-menu">
                    {% if c.userobj.sysadmin %}
                        <li><a href="{{ h.url_for(controller='admin', action='index') }}">Sysadmin settings</a></li>
                    {% endif %}
                    <li><a href="{{ h.url_for(controller='user', action='dashboard') }}">Dashboard</a></li>
                    <li class="divider">
                    </li>
                    <li>
                      <a href="#" title="{{ _('Sign out') }}" onclick="Fiware.signOut('data'); return false;">
                        Sign Out
                      </a>
                    </li>
                  </ul>
                </li>
              {% else %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='login') }}" title="{{ _('Sign in') }}">                
                    <span id="log_in" class="name" >
                      Sign in
                    </span>
                  </a>
                </li>
              {% endif %}
          </ul>
        </nav>
      </div>
    </header>

{% endblock %}

{% block header_logo %}

{% endblock %}
