{% ckan_extends %}

{% block header_account %}
    
    {% resource 'fiware_header/header.css' %}
    {% resource 'fiware_header/jquery.js' %}
    {% resource 'fiware_header/loadSignOut.js' %}

    <header class="navbar">
      <nav class="navbar-inner">

        <div class="logo-header">
          <a href="#" class="brand">
            <img alt="FIWARE" class="fiware-logo" src="/img/Fi-lab.png">
          </a>
        </div>

        <div class="dropdown mobile">
          <a href="#" class='dropdown-toggle' data-toggle="dropdown">
            <span class="caret"></span> 
          </a>

          <ul class="dropdown-menu dropdown-menu-header">
            <li class="cloud">
              <a href="http://cloud.lab.fi-ware.org/">
                Cloud
              </a>
            </li>

            <li class="store">
              <a href="http://store.lab.fi-ware.org/">
                Store
              </a>
            </li>
            <li class="mashup">
              <a href="http://mashup.lab.fi-ware.org/">
                Mashup
              </a>
            </li>
            <li class="data">
              <a href="https://data.lab.fi-ware.org/">
                Data
              </a>
            </li>
            <li class="account">
              <a href="https://account.lab.fi-ware.org/">
                Account
              </a>
            </li>
            <li class="help">
              <a href="http://help.lab.fi-ware.org/">
                Help&info
              </a>
            </li>
          </ul>
        </div>


        <ul class="oil-portal hidden-phone">
          <li class="cloud">
            <a href="http://cloud.lab.fi-ware.org/">
              Cloud
            </a>
          </li>
          <li class="store">
            <a href="http://store.lab.fi-ware.org/">
              Store
            </a>
          </li>
          <li class="mashup">
            <a href="http://mashup.lab.fi-ware.org/">
              Mashup
            </a>
          </li>
          <li class="data active">
            <a href="https://data.lab.fi-ware.org/">
              Data
            </a>
          </li>
          <li class="account">
            <a href="https://account.lab.fi-ware.org/">
              Account
            </a>
          </li>
          <li class="help">
            <a href="http://help.lab.fi-ware.org/">
              Help&info
            </a>
          </li>
        </ul>

        <ul class="nav pull-right">


            {% if c.userobj %}
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" title="{{ _('View profile') }}">                
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=20) }}
                  <span class="name">
                    {{ c.userobj.display_name }}
                  </span>
                </a>
              </li>

              <li class="dropdown">

                <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                  <span class="caret"></span>
                </a>

                <ul class="dropdown-menu"  id="settings-menu">
                  {% if c.userobj.sysadmin %}
                      <li><a href="{{ h.url_for(controller='admin', action='index') }}">Sysadmin settings</a></li>
                  {% endif %}
                  <li><a href="{{ h.url_for(controller='user', action='dashboard') }}">Dashboard</a></li>
                  <li class="divider">
                  </li>
                  <li>
                    <a href="#" title="{{ _('Sign out') }}" onclick="Fiware.signOut('data'); return false;">
                      Sign Out
                    </a>
                  </li>
                </ul>
              </li>
            {% else %}
              {% resource 'fiware_header/autoLogIn.js' %}
              <li>
                <a href="{{ h.url_for(controller='user', action='login') }}" title="{{ _('Sign in') }}">                
                  <span id="log_in" class="name" >
                    Sign in
                  </span>
                </a>
              </li>
            {% endif %}
        </ul>
      </nav>
    </header>

{% endblock %}

{% block header_logo %}

{% endblock %}